{
  "presets": [ "react-native" ],
  "env": {
    "development": {
      "sourceMaps": "inline"
    }
  },
  "plugins": [
    ["module-alias", [
      { "src": "./src/components", "expose": "components" },
      { "src": "./src/styles", "expose": "styles" }
    ]]
  ]
}
